<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Homepage</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="Twitoff/templates/assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#" style="color: rgba(5,255,165,0.9);font-style: italic;font-family: Georgi;">TwitOff</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" style="background-color: #3da995;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/reset" style="color: rgba(255,0,0,0.9);font-style: normal;font-weight: bold;">Reset Database</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: #f77f00;">Update Tweets</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="http://claywaddell.com" style="color: #00c993;">My Portfolio</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div>
        <div class="jumbotron" id="Landing" style="background-color: rgba(115,136,126,0.5);">
            <h1 style="color: rgb(61,169,149);">Welcome to TwitOff</h1>
            <div class="row">
                <div class="col">
                    <p style="color: #bae0e2;"><strong>Who said <span style="text-decoration: underline;">what </span>now?</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 style="color: #3da995;">Compare users</h2>
                    <p id="COMPARE_USERS">
                        <form action="/compare" method="post">
                            <select name="user1">
                                {% block compare %}
                              {% for user in users %}
                              <option value="{{ user.name }}">{{ user.name }}</option>
                              {% endfor %}
                            </select>
                            <select name="user2">
                              {% for user in users %}
                              <option value="{{ user.name }}">{{ user.name }}</option>
                              {% endfor %}
                            </select>
                            <input type="text" name="tweet_text" placeholder="Tweet text to predict">
                            <input type="submit" value="Compare Users">
                          </form>
                          {% endblock compare %}
                    </p>
                </div>
                <div class="col-12">
                    <h1 style="color: #3da995;">Add Users</h1>
                    <p id="ADD_USERS">
                        {% block add_user %}
                        <form action="/user" method="post">
                        <input type="text" name="user_name" placeholder="User to add">
                        <input type="submit" value="Add User">
                        </form>
                        {% endblock add_user %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <div class="jumbotron text-center border rounded justify-content-center" style="background-color: rgba(115,136,126,0.5);font-size: 17px;filter: blur(0px) brightness(52%);">
        <div class="col-md-12" id="RESULTS">
            <p>Try putting code here</p>
        </div>
        <div class="row">
            <div class="col"><a href="https://github.com/HakujouRyu" style="background-color: rgba(255,255,255,0);font-size: 51px;color: #3da995;"><i class="fa fa-github" style="height: 3px;"></i></a></div>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>